
<section class="head" id="nav">
    <div class="head-inner-wrap">
        <div class="profile-pic-div animated">
            <a href="#about" class="profile-pic-link"><img src="{{ site.profile_picture }}" class="profile-pic"/></a>
        </div>
        <div class="head-name head-title animated" id="head-name" >  {{ site.title }}</div>
        <div class="head-punchline animated">
        <p>인덕대 컴퓨터전자 공학과 졸업</p>
        </div>
        <p>교내프로젝트</p>
        <p>기상청 RSS를 이용한 날씨알려주는 시계-아두이노</p>
        <p>모터를 이용 하여 조종하는 쇼핑카트-아두이노</p>
        <div class="head-menu-wrap">
            <!-- <a class="semi-transparent-button with-border nav-links" href="#about">ABOUT</a> -->
            <a class="semi-transparent-button with-border nav-links" href="#skills">SKILLS</a>
            <a class="semi-transparent-button with-border nav-links" href="#projects">PROJECTS</a>
            <a class="semi-transparent-button with-border nav-links" href="#extra">CONTACT</a>
        </div>
    </div>
</section>
