
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                        I'm a web engineer fluent in modern web development. I have a serious passion for engineering solutions using the internet. InfoSec guy, blue team. Let's build a beautiful, speedy and safe web together.
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technical</h3>
                    <div class="progress-bars">
                        <!-- <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Javascript</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>  -->   
                        <div class="skill_contents" style="display: inline-block; margin-right: 2rem; margin-left: 4rem;">
                        	<img src="/assets/images/c-programming.png" width="80px" height="80px">
                        	<p>C</p>
                        </div>                        
                        <div class="skill_contents" style="display: inline-block; margin-right: 2rem;">
                        	<img src="/assets/images/Java.png" width="80px" height="80px">
                        	<p>Java</p>
                        </div>
                        <div class="skill_contents" style="display: inline-block; margin-right: 2rem;">
                        	<img src="/assets/images/logo-python.png" width="80px" height="80px">
                        	<p>Python</p>
                        </div>
                        <div class="skill_contents" style="display: inline-block; margin-right: 2rem; margin-left: 4rem;">
                        	<img src="/assets/images/html.png" width="80px" height="80px">
                        	<p>HTML</p>
                        </div>
                        <div class="skill_contents" style="display: inline-block; margin-right: 2rem;">
                        	<img src="/assets/images/javascript.png" width="80px" height="80px">
                        	<p>javascript</p>
                        </div>
                        <div class="skill_contents" style="display: inline-block; margin-right: 2rem;">
                        	<img src="/assets/images/jquery.jpg" width="80px" height="80px">
                        	<p>jquery</p>
                        </div>
                        <div class="skill_contents" style="display: inline-block; margin-right: 2rem; margin-left: 4rem;">
                        	<img src="/assets/images/oracle.jpg" width="80px" height="80px">
                        	<p>Oracle</p>
                        </div>
                        <div class="skill_contents" style="display: inline-block; margin-right: 2rem;">
                        	<img src="/assets/images/mysql.png" width="80px" height="80px">
                        	<p>Mysql</p>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>