
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Introduce</h3>
                    <p class="paragraph-text center-align">
                        	아직 많이 부족하지만,
                        	 더 나은 개발자가 되기 위해서 도전하는 것을
                        	  두려워 하지 않고 계속 노력 해 나가겠습니다. 
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technical</h3>
                    <div class="progress-bars">
                        <!-- <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Javascript</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>  -->   
                        <div class="skill_contents">
                        	<img src="/assets/images/c-programming.png" width="80px" height="80px" max-width="100%">
                        	<p align="center">C</p>
                        </div>                        
                        <div class="skill_contents">
                        	<img src="/assets/images/Java.png" width="80px" height="80px">
                        	<p align="center">Java</p>
                        </div>
                        <div class="skill_contents">
                        	<img src="/assets/images/logo-python.png" width="80px" height="80px">
                        	<p align="center">Python</p>
                        </div>
                        <div class="skill_contents">
                        	<img src="/assets/images/html.png" width="80px" height="80px">
                        	<p align="center">HTML</p>
                        </div>
                        <div class="skill_contents">
                        	<img src="/assets/images/js.png" width="80px" height="80px">
                        	<p align="center">javascript</p>
                        </div>
                        <div class="skill_contents">
                        	<img src="/assets/images/jquery1.png" width="80px" height="80px">
                        	<p align="center">jquery</p>
                        </div>
                        <div class="skill_contents">
                        	<img src="/assets/images/oracle.jpg" width="80px" height="80px">
                        	<p align="center">Oracle</p>
                        </div>
                        <div class="skill_contents">
                        	<img src="/assets/images/mysql.png" width="80px" height="80px">
                        	<p align="center">Mysql</p>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>