<!DOCTYPE html>
<html lang="en-us">
    
    {% include head.html %}
<style>
	@media all and (min-width:320px) {
    div{
      width:100%;
    }
  }
  @media all and (min-width:768px) {
    div{
      width:50%;
    }
    div:nth-child(5){width:100%;}
  }
  @media all and (min-width:1024px) {
    div{
      width:20%;
    }
    div:nth-child(5){width:20%;}
  }
</style>

<body>

    {% include nav.html %}

    <!-- {% include about.html %} -->

    {% include skills.html %}

    {% include projects.html %}
        
    {% include extra.html %}

    {% include footer.html %}

    {% include scripts.html %}
</body>
</html>
